.cardbs:hover{
    cursor:pointer;
    transition: 1s;
    transform: scale(1.1 , 1.1);
  }

.btn-card {
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.cards img {
  border-radius: 5px;
  height: 10rem;
  width: 100%;
}

.Cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}