*{
    margin: 0;
    padding:0;
    border: 0;
}

.nav-links{
    color:aliceblue;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 8px;
    font-size: 16px;
    margin:auto;
}
