@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Poppins', sans-serif;
}

body{
  background: #ddd6f3; 
  background: -webkit-linear-gradient(to top, #f1afac, #ddd6f3); 
  background: linear-gradient(to top, #f1afac, #ddd6f3); 
}

.footer li, .footer p{
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 13px;
}

.cardbs:hover{
  cursor:pointer;
  transition: 1s;
  transform: scale(1.1 , 1.1);
}

.cardbs{
  box-shadow: 20px 20px 50px -20px;
}